#daten {
    height: 100px;
    width: 99%;
    margin: 0px;
    background-color: #fefefe;
}

/*.x-cell {
    color: green;
    background-color: red;
}
*/

#map {
    height: 400px;
    width: 99%;
}
