/*settings for container, map and grid*/

#map {
    height: 55.6vh;
}

#grid {
    height: 34.4vh;
}

#containerTop {
    height: 10vh;
}

p {
    margin: 5px;
}

span {
    margin-left: 5px;
}

button {
    margin: 5px;
}

h2 {
    margin: 7px 5px;
}

h3 {
    margin: 5px;
}

#containerMLT {
    width: 99%;
    height: 90vh;
}

#containerMapTable {
    width: 88%;
    float: left;
}

#containerLegend {
    width: 11%;
    float: right;
    position: relative;
    left: 5px;
}

#containerCheckobxes {
    margin-bottom: 6px;
}


.legendContainer {
    position: relative;
    margin-top: 1em;
}
